.flex{
    display: flex;
}
.btn{
    border: none;
}
.box{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 745px;
}
.colum{
    display: flex;
    flex-direction: column;
}