.flex{
    display: flex;
}
.btn{
    border: none;
    transition-duration: 0.5s;
}
.btn:hover{
    border-radius: 30px;
    border: 2px solid gray;
    background-color: rgb(129, 171, 196);
}
.box{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 745px;
}
.colum{
    display: flex;
    flex-direction: column;
}