.first_right{
    position: relative;
}
.first_btn{
    position: absolute;
    bottom: 28px;
    left: 28px;
    width: 203px;
    height: 35px;
    background: #FFFFFF;
}
.first_btn_text{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #22262A;    
}