.intro{
    width: 100%;
    height: 100vh;
    background: url(../images/bg.jpg) center no-repeat;
    margin-bottom: 123px;
}
.intro_content{
    width: 455px;
    margin-bottom: 100px;
}
.content_theme{
    font-family: Poppins , sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
}
.content_title{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: #22262A;    
}
.content_text{
    font-family: Poppins , sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
}
.intro_btn{
    width: 147px;
    height: 35px;
    background: #22262A;
    margin-top: 27px;
    margin-right: 34px;
}
.intro_btn_text{
    font-family: Poppins , sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
.intro_btn_text:hover{
    font-family: Poppins , sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #22262A;
}